.profile-page {
    height: 100vh;
    align-content: center;
    background-color: #19192e;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile-container {
    width: '240px';
    height: '240px';
    align-content: center;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}