.profile-container {
  height: 85vh;
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 3rem 6rem 3rem 6rem;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Profil kartı */
.profile-card {
  padding-left: 1%;
  padding-right: 1%;
  width: 25%;
  max-width: 450px;
  /*background: rgba(0, 0, 0, 0.747);*/
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
}

.profile-card h2 {
  color: #ffffff;
}

.profile-photo {
  margin-top: 1rem;
  width: 40vh;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.user {
  color: #b3b3b3;
  font-size: 0.8rem;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats strong {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #e50914;
}

.stats p {
  font-weight: bold;
  color: #b3b3b3;
}

/* Sağ kısım içerik */
.content {
  width: 75%;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  border-radius: 12px;
  overflow-y: scroll;
}

.content h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.profile-review-card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  gap: 3rem;
  display: flex;
  text-align: start;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.profile-review-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(229, 9, 20, 0.445);
}

.movie-poster {
  width: 80px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
}

.profile-review-text {
  flex: 1;
  overflow-y: auto;
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
}

.profile-review-rating {
  flex-direction: column;
  min-width: 240px;
  display: flex;
  align-items: start;
  gap: 0.5rem;
  color: fff;
}

.review-text h4 {
  margin: 0 0 0.3rem 0;
  color: #fff;
}

.review-card p {
  color: #c7c7c7;
  font-size: 0.9rem;
}